@import "./colors";
@import "./functions";
@import "./fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $font-color-main;
}

html,
body {
  @include font--Open--Sans;
  font-size: 20px;
  min-height: 410vh;
  background: $bg-main-color_2;
  background-size: cover;
  background-repeat: no-repeat;

  @media all and (min-width: $breakpoint-desktop) {
    min-height: 500vh;
    overflow-x: hidden;
   }
}

section {
  font-family: 'Calibri Light', sans-serif;
  min-height: 100vh;
  padding: 50px 0 20px 0;

  @media all and (min-width: $breakpoint-desktop) {
    padding: 150px 0 20px 0;
   }
}

ul, li {
    list-style: none;
}
a {
    text-decoration: none;
    // color: $font-color-main;
}

span {
  color: $font-color-distinct;
}

.main__container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1100px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}