@import "../../Config/colors";
@import "../../Config/functions";

#portfolio {
 @include font--Calibri--Light;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 justify-content: flex-start;
 width: 100%;
 padding: 50px 10px 0 10px;

 .projets__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  @media all and (min-width: $breakpoint-desktop) {
      opacity: 0;
    margin-top: 130px;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: flex-start;
   justify-content: space-between;
   transition: all .3s ease-in-out;
  }
 }

 @media all and (min-width: $breakpoint-desktop) {
  flex-direction: column;
 }

 .tomekmojsiuk {
  .icon {
    margin-right: 0; 
  }
}

}

.project {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: flex-start;
 width: 100%;
 min-height: 200px;
 padding: 0 0 0 5px;
 margin: 20px 0;
 border-left: 1px solid;
 @include borderImg;
 @media all and (min-width: $breakpoint-desktop) {
  width: 45%;
 }

 .project__img {
  position: relative;
  height: 100%;
  width: 100%;
  img {
   height: 100%;
   width: 100%;
  }

  @media all and (min-width: $breakpoint-desktop) {
    height: 300px;
   width: auto;
  }

  &:hover,
  &:active,
  &:focus {
   .project__img--detalis {
    height: 100%;
    .icon {
     display: initial;
    }
   }
  }
 }

 .project__img--detalis {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 0%;
  width: 100%;
  bottom: 0;
  left: 0;
  background: fade-out($bg-single-navyblue, 0.5);
  transition: all 0.3s ease-in-out;
  z-index: 1;

  .icon {
   display: none;
   height: 50px;
   width: 50px;
   margin-right: 40px;
   transition: all 0.3s ease-in-out;
   &:hover {
    transform: rotate(360deg);
   }
  }

  .show__code {
   background: url("../images/icons/show_code.svg");
   background-size: cover;
   background-repeat: no-repeat;
   z-index: 10;
  }
  .show__preview {
   margin-right: 0;
   background: url("../images/icons/live_preview.svg");
   background-size: cover;
   background-repeat: no-repeat;
   z-index: 10;
  }
 }


 .project__details {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;

  .used__technologies {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-start;
   width: 100%;
   height: auto;
   padding: 10px 0;
   .tech {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    background-size: cover;
    background-repeat: no-repeat;
   }
  }
  .description {
   padding: 10px 0;
   font-size: 1.7rem;

   @media screen and (min-width: $breakpoint-desktop) {
    font-size: 2rem;
   }
  }
 }

 .html {
  background: url("../images/icons/html5.svg");
 }
 .css {
  background: url("../images/icons/css3.svg");
 }
 .sass {
  background: url("../images/icons/sass.svg");
 }
 .webpack {
  background: url("../images/icons/webpack.svg");
 }
 .js {
  background: url("../images/icons/js.svg");
 }
 .jquery {
  background: url("../images/icons/jquery.svg");
 }
 .react {
  background: url("../images/icons/react.svg");
 }
 .vscode {
  background: url("../images/icons/vscode.svg");
 }
}
