// Font colors
$font-color-main: #d5e2fd;
$font-color-heading: darkgrey;
$font-color-span: darkgrey;


// Background colors

$bg-main-color: linear-gradient(to top, #051937, #092a49, #103c5b, #194f6c, #25627c);