// Font colors
$font-color-main: #d5e2fd;
$font-color-heading: darkgrey;
$font-color-distinct: #F59C00;


// Background colors

$bg-main-color: linear-gradient(to top, #051937, #092a49, #103c5b, #194f6c, #25627c);
$bg-main-color_2: linear-gradient(to top, #05111A, #092233, #092233, #0B283D, #113E5E);
$bg-box-color: #EBF0F5;

// Separator

$separator-color: #B5B9BD;