@import "./colors";
@import "./functions";
@import "./fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $font-color-main;
}

html,
body {
  @include font--Open--Sans;
  font-size: 10px;
  min-height: 480vh;
  background: $bg-main-color_2;
  background-size: cover;
  background-repeat: no-repeat;

  @media all and (min-width: $breakpoint-desktop) {
    min-height: 500vh;
    overflow-x: hidden;
   }
}

section {
  @include font--Calibri--Light;
  min-height: 100vh;
  padding: 50px 0 20px 0;

  @media all and (min-width: $breakpoint-desktop) {
    padding: 80px 0 20px 0;
   }

   h2 {
    align-self: flex-start;
    margin: 10px 0 30px 10px;
    font-size: 3rem;
    letter-spacing: 2px;
  
    span {
     font-size: 3.5rem;
     margin-right: 2px;
    }
  
    @media all and (min-width: $breakpoint-desktop) {
     margin: 40px 0;
     margin-left: calc(20%);

     span {
      margin-right: 0;
     }
    }
   }
}

ul, li {
    list-style: none;
}
a {
    text-decoration: none;
    // color: $font-color-main;
}

span {
  color: $font-color-distinct;
}

.main__container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1100px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}