@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Mukta');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

@mixin font--Lato {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}

@mixin font--Poppins {
  font-family: 'Poppins', sans-serif;
}

@mixin font--Mukta {
  font-family: 'Mukta', sans-serif;
}

@mixin font--Ubuntu {
  font-family: 'Ubuntu', sans-serif;
}

@mixin font--Open--Sans {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
}

@mixin font--Calibri--Light {
  font-family: 'Calibri Light', sans-serif;
  letter-spacing: 1px;
}