// Breakpoints

$breakpoint-desktop: 740px;

// Misc

$box-shadow: 0 0 1px 1px rgba(235, 240, 245, 0.2);

@mixin borderImg {
    border-image: linear-gradient(to bottom, $font-color-distinct, transparent) 0
   20;
}