@import "../../Config/functions";

header {
 position: relative;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 font-size: 2rem;
 min-height: 640px;

 @media all and (min-width: $breakpoint-desktop) {
  font-size: 1.5rem;
  min-height: 100vh;
  justify-content: center;
 }
}

.title {
 position: absolute;
 top: 50px;
}

//Icons
.social--media--icons {
 display: flex;
 position: fixed;
 top: 16px;
 left: 10px;
 flex-direction: row;
 justify-content: space-around;
 align-items: center;
 width: 60%;
 height: 30px;
 transition: all 0.3s ease-in-out;

 @media all and (min-width: $breakpoint-desktop) {
  position: initial;
  align-items: center;
  width: 50%;
 }
}

.email,
.github,
.linkedin {
 img {
  height: 30px;
  width: 30px;
  @media all and (min-width: $breakpoint-desktop) {
   height: 67px;
   width: 67px;
   transition: all 0.3s ease-in-out;
  }
 }
 :hover {
    transform: rotate(360deg);
}
}
