@import "../../Config/functions";

header {
   @include font--Calibri--Light;
 position: relative;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 font-size: 1.2rem;
 min-height: 100vh;

 @media all and (min-width: $breakpoint-desktop) {
  font-size: 2rem;
  min-height: 100vh;
  justify-content: center;
 }
}

.title__mobile {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 :nth-child(1) {
     font-size: 2.5rem;
  span {
   font-size: 3.5rem;
  }
 }
 :nth-child(2) {
    font-size: 1.4rem;
 span {
  font-size: 2rem;
 }
}

 @media all and (min-width: $breakpoint-desktop) {
    display: none;
 }
}
