@import '../../Config/functions';

.social__media__icons {
    display: flex;
    position: fixed;
    top: 16px;
    left: 10px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    height: 30px;
    transition: all 0.3s ease-in-out;
   
    @media all and (min-width: $breakpoint-desktop) {
     position: absolute;
     top: calc(60% - 50px);
     left: calc(50% - 208px);
     align-items: center;
     justify-content: space-between;
     width: 416px;
     height: 50px;
    }
   }
   
   .email,
   .github,
   .linkedin {
    img {
     height: 30px;
     width: 30px;
     @media all and (min-width: $breakpoint-desktop) {
      height: 67px;
      width: 67px;
      transition: all 0.3s ease-in-out;
     }
    }
    :hover {
     transform: rotate(360deg);
    }
   }

   .sticky__icons--add {
    position: fixed;
    justify-content: space-around;
    font-size: 1rem;
    left: calc(50% - 150px);
    top: 92vh;
    width: 300px;
    transition: all .8s ease-in-out;
    img {
        height: 50px;
        width: 50px;
    }
}