@import '../../Config/functions';

.social__media__icons {
    display: flex;
    position: fixed;
    top: 16px;
    left: 10px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    height: 30px;
    transition: all 0.3s ease-in-out;
    z-index: 10;
   
    @media all and (min-width: $breakpoint-desktop) {
     position: absolute;
     top: calc(60% - 50px);
     left: calc(50% - 208px);
     align-items: center;
     justify-content: space-between;
     width: 416px;
     height: 50px;
    }
.icon {
    height: 30px;
    width: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all .3s ease-in-out;

    @media all and (min-width: $breakpoint-desktop) {
        height: 50px;
        width: 50px;
        &:hover {
            transform: rotate(360deg);
           }
    }
}
    :nth-child(1) {
        background: url('../images/icons/linkedin_orange.svg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    :nth-child(2) {
        background: url('../images/icons/github_orange.svg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    :nth-child(3) {
        background: url('../images/icons/email_orange.svg');
        background-size: cover;
        background-repeat: no-repeat;
    }
   }

   .sticky__icons--add {
    position: fixed;
    justify-content: space-around;
    font-size: 1rem;
    left: calc(50% - 150px);
    top: 92vh;
    width: 300px;
    transition: all .8s ease-in-out;

    .icon {
        height: 40px;
        width:40px;
    }
}